apiVersion: v2
name: anything-llm
description: A Helm chart, that allows your easy way to deploy anything-llm. But also allows you to deploy anything-llm with different components like chromadb, nvidia-device-plugin, ollama, and more.
version: 1.0.6
appVersion: 1.1.1
home: https://github.com/la-cc/anything-llm-helm-chart
maintainers:
  - name: la-cc
    url: https://github.com/la-cc
    email: artem@lajko.dev
  - name: deB4SH
    url: https://github.com/deB4SH
dependencies:
  - name: chromadb
    description: A Helm chart for deploying chromadb.
    version: 0.1.19
    repository: https://amikos-tech.github.io/chromadb-chart/
    condition: chromadb.enabled
  - name: nvidia-device-plugin
    description: A Helm chart for deploying NVIDIA Device Plugin DaemonSet to allow scheduling of GPU workloads on nodes with NVIDIA GPUs.
    version: 0.3.3
    repository: https://la-cc.github.io/nvidia-device-plugin-helm-chart
    condition: nvidia-device-plugin.enabled
  - name: ollama
    description: This Chart deploys ollama-helm. You should enable nvidia-device-plugin.enabled that allows scheduling of GPU workloads on nodes with NVIDIA GPUs.
    version: 0.45.0
    repository: https://otwld.github.io/ollama-helm/
    condition: ollama.enabled
